.fullscreen_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full viewport height */
  width: 100%;       /* Takes full viewport width */
  box-sizing: border-box;
  
  /* Optional: centers everything directly in the middle */
  justify-content: center;
  align-items: center;
}

.illustration_box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}